<!DOCTYPE html>
<html lang="en" ng-app="ComplexForm">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="/angtest/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="/angtest/node_modules/angular/angular.js"></script>
	<script src="/angtest/app/app.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<style>
		 
		 form[name="user"]>input.ng-dirty.ng-invalid {
		   border-color: red;
		 }
		 form[name="user"]>input.ng-dirty.ng-valid {
		   border-color: green;
		 }
	</style>
  </head>
  <body>
    

    
	<div class="col-md-6 ">
		<h1>Hello, world!</h1>
		
		<form role="form" name="userInfo" ng-controller="FormController as fieldsets" ng-submit="userInfo.$valid && userSubmit()" novalidate>
			{{userInfo}}
			<fieldset class="account-info">
			  <legend>Account:</legend>
			  <div class="form-group">
				<label for="email">Email address:</label>
				<input type="email" class="form-control" id="email" ng-model="user.account.email" required>
			  </div>
			  <div class="form-group">
				<label for="pwd">Password:</label>
				<input type="password" class="form-control" id="pwd" ng-model="user.account.password" required>
			  </div>
			  <button type="submit" class="btn btn-default">Save</button>
			</fieldset>
		<!-- </form> -->
		<!-- <form role="form" class="peronal-info" novalidate> -->
			<fieldset class="personal-info">
			  <legend>Personal information:</legend>
			  <div class="form-group">
				<label for="firstname">First name</label>
				<input type="text" class="form-control" id="firstname" required>
			  </div>
			  <div class="form-group">
				<label for="middlename">Middle name:</label>
				<input type="text" class="form-control" id="middlename">
			  </div>
			  <div class="form-group">
				<label for="lastname">Last name:</label>
				<input type="text" class="form-control" id="lastname" required>
			  </div>
			  <button type="submit" class="btn btn-default">Save</button>
			 </fieldset>
		<!-- </form> -->
		<!-- <form role="form" class="profile-info" novalidate> -->
			<fieldset  class="profile-info">
			<legend>Profile information:</legend>
			  <div class="form-group">
				<label for="age">Age:</label>
				<input type="number" class="form-control" id="age" ng-model="user.properties.age" required>
			  </div>
			  <div class="form-group">
				<label>Sex:</label>
				<div class="radio">
					<label for="sex-m" class="col-md-6"><input type="radio" id="sex-m" value="male" ng-model="user.properties.sex">Male:</label>
				</div>
				<div class="radio">
					<label for="sex-f"><input type="radio"  id="sex-f" value="female" ng-model="user.properties.sex">Female:</label>
				</div>
			  </div>
			  <div class="form-group">
				<label>Interests:</label>
				<div class="checkbox">
				  <label><input type="checkbox" value="soccer">Soccer</label>
				</div>
				<div class="checkbox">
				  <label><input type="checkbox" value="tennis">Tennis</label>
				</div>
				<div class="checkbox">
				  <label><input type="checkbox" value="football">Tootball</label>
				</div>
				<div class="checkbox">
				  <label><input type="checkbox" value="hockey">Hockey</label>
				</div>
				<div class="checkbox">
				  <label><input type="checkbox" value="fitness">Fitness</label>
				</div>
			  </div>
			  <button type="submit" class="btn btn-default" ngClick="fieldsets.checkSets()">Save</button>
			</fieldset>
		</form>
	</div>
	<div class="col-md-6">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu tempor nisl. 
		Morbi vitae tincidunt urna. Quisque ut posuere ante. Aenean non risus tempus, dignissim arcu ut, 
		vehicula mi. Suspendisse luctus urna ut luctus sollicitudin. Curabitur sit amet dolor justo. Sed nec ex orci. 
		Nunc ut laoreet eros. Nulla augue ipsum, dictum sit amet lobortis sed, lobortis id metus.</p>
		
		<p>Duis sed augue erat. Donec sit amet bibendum augue, ut condimentum nibh. Etiam ac leo tempor, 
		fringilla magna et, finibus risus. Mauris ac quam id tortor venenatis venenatis eu eget metus. 
		Nullam eu hendrerit diam. Vivamus ut diam imperdiet quam sagittis feugiat. Praesent eu sagittis erat. 
		Phasellus nunc lacus, bibendum quis mauris nec, dignissim aliquam ante.</p>

		<p>Vivamus id mauris venenatis, volutpat metus non, mattis odio. Duis vel enim non lorem cursus ornare. In hac habitasse platea dictumst. Vestibulum id cursus nisl. Proin rutrum nibh vel est porta posuere. Etiam euismod augue placerat congue pharetra. Duis scelerisque accumsan purus, et vulputate ligula tempor quis. Pellentesque quis euismod arcu. Suspendisse rutrum tellus sit amet eros condimentum, at aliquet lacus eleifend.</p>

		<p>Proin faucibus pharetra massa. Pellentesque non arcu vitae purus dictum congue. Curabitur eleifend tincidunt lacus, in pretium metus tincidunt non. Curabitur non porttitor enim. Vestibulum accumsan risus justo, id condimentum nibh tempor id. Suspendisse porta tempor magna. Vivamus facilisis neque eu consequat cursus. Ut mi velit, ornare non semper vel, aliquam eu velit. Cras rutrum facilisis quam non dictum. Quisque id turpis erat. Fusce at diam eros. Etiam ac neque congue, sodales odio congue, bibendum arcu. Morbi elementum fermentum ante, sed vestibulum sapien pellentesque et.</p>

	</div>
	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- <script src="/angtest/node_modules/bootstrap/dist/js/bootstrap.min.js"></script> -->
  </body>
</html>